/* CSS Document */

/* GLOBAL */
body {
  background-attachment: fixed;
  background-image: url(../images/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  text-align: center;
}
.container {
  margin-top: 400px;
}
/* NAV */
nav {
  background-color: black;
  /* margin-top: 250px; */
  opacity: 0.7;
  padding: 0px 200px;
}
nav li a{
  font-size: 22px;
  color: white;
}
#logo {
  font-size: 34px;
  font-weight: bold;
}

nav a {
  font-size: 32px;
}
/* CONTENT */
.button-container {
  margin-top: 70px;
  padding: 20px 0px;
}
.fav-container {
  margin-top: 90px;
}
button {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}
td{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
 }
/* GALLERY */
#images {
  margin-top: 20px;
}
/* Image Modal Trigger */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
img {
  border-radius: 20px;
  padding: 5px;
}
/* MODAL */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.close {
  position: absolute;
  top: 35px;
  right: 40px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}
.modal {
  background-color: rgba(0,0,0,0.9);
  bottom: 0;
  display: none;
  left: 0;
  max-height: 100%;
  overflow: auto; /* Enable scroll if needed */
  position: fixed;
  right: 0;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
.modal-content {
  border-radius: 50px;
  float: left;
}
#caption {
  color: white;
  font-size: 40px;
  padding: 50px;
  right: 100px;
}
#favIcon {
  position: absolute;
  top: 40px;
  right: 90px;
  color: red;
  font-size: 25px;
  transition: 0.3s;
}
#favIcon:hover {
  opacity: 0.6;
}
#favIcon:active {
  transform: translateY(6px);
}
#recipeInstructions {
  color: white;
  padding: 30px;
}
#recipeIngredients {
  color: white;
  padding: 20px;
}

td {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;

}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #recipeIngredients, #recipeInstructions {
  animation-name: zoom;
  animation-duration: 0.6s;
}
 @keyframes zoom {
 from {
transform:scale(0)
}
 to {
transform:scale(1)
}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
.modal-content {
  width: 100%;
}
}
